body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

/*hero banner image design*/

.hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px; 
    width: 700px;
    height: 900px;
    margin-top: -330px;
}

.bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}



/*responsiveness set-up*/

@media screen and (max-width: 1200px) {

    .hero-banner-img {
        display: none;
    }

}